---
import { getCollection } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import TagLink from "./TagLink.astro";
import type { CollectionEntry } from "astro:content";

const posts = await getCollection("blog");

// 公開日（pubDate）の降順（新しい順）にソート
let sortedPosts = posts.sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

// numberOfPostsToDisplay に従って最新の投稿を抽出
let numberOfPostsToDisplay = 4;
let recentPosts: CollectionEntry<"blog">[] = sortedPosts.slice(0, numberOfPostsToDisplay);
---

<div class="px-4 md:px-20 flex flex-col gap-4 mt-16">
  <h2 class="recent-pub text-2xl font-bold mb-5">Recent Publications</h2>
  {
    recentPosts.map((post) => (
      <div class="posts flex flex-col sm:flex-row gap-4 sm:gap-2 sm:justify-between border-b pb-4">
        <div class="flex flex-col gap-4">
          {/* <p>{post.data.pubDate}</p> */}
          <FormattedDate date={post.data.pubDate} />
          <a class="font-bold text-lg" href={`/blog/${post.slug}`}>
            {post.data.title}
          </a>
          <div class="flex gap-2 flex-wrap max-w-xs">
            {post.data.tags?.map((i: string) => {
              return <TagLink tag={i} />;
            })}
          </div>
        </div>
        <a href={`/blog/${post.slug}`} class="w-full sm:w-auto self-center sm:self-auto">
          <div class="w-full sm:w-[18rem] h-40 border border-gray-200 overflow-hidden">
            <img
              src={post.data.heroImage}
              alt={post.data.title}
              class="w-full h-full object-cover"
            />
          </div>
        </a>
      </div>
    ))
  }
  <a
    class="border flex justify-center items-center hover:no-underline hover:bg-gray-200 hover:border-gray-300 transition-colors ease-in-out bg-gray-100 w-full max-w-xs mx-auto mt-12 rounded-lg text-gray-700 text-xs h-8 font-medium border-gray-200 dark:bg-neutral-700 dark:border-neutral-600 dark:text-neutral-300 hover:dark:bg-neutral-700/50 hover:dark:border-neutral-600 hover:dark:text-neutral-100"
    href="/blog">View more</a
  >
</div>

<script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';
  import { CSSRulePlugin } from 'gsap/CSSRulePlugin';
  
  gsap.registerPlugin(ScrollTrigger);
  gsap.registerPlugin(CSSRulePlugin);

  gsap.from('.recent-pub', {
    scrollTrigger: {
      trigger: '.recent-pub',
      start: 'top 80%',
    },
    opacity: 0,
    x: -100,
    duration: 1,
    ease: 'power2.out',
  });

  gsap.from('.posts', {
    scrollTrigger: {
      trigger: '.posts',
      start: 'top 80%',
    },
    opacity: 0,
    y: 50,
    duration: 1,
    stagger: 0.5,
    ease: 'power2.out',
  });
</script>